@tailwind base;
@tailwind components;
@tailwind utilities;

.hightlight {
    background-color: #1c93dd;
  }
  
  .navbar-style {
    background-color: #2182BD !important;
  }
  
  .green-highlight {
    color:white;
    font-size: 40px;
  }
  
  .red-highlight {
    color: #ff0000;
    font-size: 25px;
  }
  
  .hand-icon {
    cursor: pointer;
  }
  
  .nav-link.active {
    border-bottom: 2px solid #ffffff;
  }
  